@import '../../style/variables.scss';

.comic {
    &__search {
        &-form {
            min-height: 75px;
            padding: 2px 0 0 0;
            margin-top: 30px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
            position: relative;
            z-index: 5;
            background-color: #fff;
        }
        &-label {
            display: block;
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            color: #000;
        }
        &-wrapper {
            margin-top: 15px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            input {
                padding: 0 10px;
                width: 350px;
                height: 38px;
                border: none;
                background: #FFFFFF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                font-size: 14px;
                &:focus{
                    outline: none;
                }
            }
        }
        &-error {
            margin-top: 25px;
            padding-bottom: 20px;
            text-align: center;
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            color: $main-color;
        }
        &-critical-error {
            margin-top: 25px;
        }
        &-success {
            margin: 0 auto;
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            color: #03710E;
        }
    }
    &__button-success{
        padding-bottom: 20px;
        position: relative;
        right: 125px;
        top: 5px;
    }
}
@media (max-width: 1100px) {
    .comic__button-success{
        right: 50px;
        top: 5px;
    }
}